    body {
        font-family: 'Times New Roman', Times, serif;
        background-image: url(/image/OJo.jpg);
        background-attachment: fixed;
    }

    .startMenu, .myWork {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #009900;
        position: relative;
        top: 40px;
        text-align: center;
        height: 40px;
    }

    .myWork {
        top: 20px;
    }

    .title {
        color: white;
    }

    .job {
        padding-top: 10px;
    }

    #ourmenu {
        display: table;
        position: relative;
        top: 30px;
        border-spacing: 15px;
        width: 100%;
    }

    #tableRow {
        display: table-row;
    }

    #workDay {
        font-size: 17px;
        color: #006600;
        line-height: 40px;
    }

    #tableRow section {
        display: table-cell;
        border: 2px solid #009900;
        padding: 15px;
    }

    #button, #newChoise {
        display: block;
        position: relative;
        margin: auto;
        width: 180px;
        cursor: pointer;
    }

    .pasta_riso {
        padding: 5px;
        border: 2px dashed #009900;
        border-radius: 5px;
        margin: 10px;
        line-height: 25px;
    }

    .special {
        font-size: 20px;
        font-weight: bold;
        color: #cc2900;
        padding-left: 10px;
        line-height: 40px;
        border-bottom: none;
    }

    input.food {
        color: #800000;
        font-size: 14px;
        line-height: 30px;
    }

    h1, h2 {
        font-weight: bolder;
        color: #cc2900;
    }

    p {
        font-size: 17px;
        color: #009900;
    }

    th {
        color: #006600;
    }

    td {
        color: #800000;
    }

    th, td {
        text-align: left;
        font-size: 17px;
    }

    .allMenu {
        width: 33%;
    }


    label {
        color: #006600;
        font-size: 17px;
    }

    #newChoise {
        top: 3px;
    }

    .alertMenu, .alertQuantity {
        display: none;
    }

    .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
        background-image: url('../image/dialogFrame.gif');
    }

    .ui-dialog-titlebar-close {
        background-image: url('../image/esc.jpg');
        background-size: cover;
        width: 25px;
        height: 25px;
        position: relative;
        left: -2px;
    }

    .ui-dialog-content.ui-widget-content {
        background-image: url('../image/dialogFrame.gif');
    }

    p.alertdialog {
        text-align: center;
        font-size: 20px;
        color: white;
    }

    .dialogPopup {
        display: none;
    }

@media screen and (max-width: 700px) and (mind-width: 1300px) {

}

.navbar {
background-color: #009900; 
}

/*@media (min-width: 1200px) {
    .container {
         width: 0; 
    }
}*/

/*@media (min-width: 992px){
.container {
     width: 0; 
}
}*/

/*@media (min-width: 768px) {
    .container {
         width: 0; 
    }
}*/

.nav.navbar-nav{
    display: inline-flex;
    list-style-type: none;
    padding-left: 235px;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav.navbar-nav.navbar-right{
    float: right;
    padding-right: 20px;
}

.navbar-toggle{
    display: none;
}

.navbar.navbar-inverse.navbar-fixed-top{
    height: 60px;
}
.navbar-brand {
    font-size: 24px;
}

.navbar-collapse.collapse {
    position: relative;
    top: -10px;
}

.pCentral {
text-align: center;
font-size: 22px;
}